[Desktop Entry]
Version=1.0
Type=Application
Name=AliView
Comment=A fast and lightweight sequence viewer
Terminal=false
Icon=aliview
Exec=aliview %U
MimeType=text/x-fasta;
Categories=Science;Java;
