[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=aliview
MimeType=text/x-fasta;
Categories=Sciente;Java;
Comment=A fast and lightweight sequence viewer
Name=AliView
Exec=aliview %U
